@model Crud.DAL.Models.Registrar
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@Html.ValidationSummary()
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h3>Regístrate</h3>
            <form asp-action="Registration" method="post">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>

                <div class="form-group">
                    <label>¿Cuál es tu email?</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>

                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" class="form-control" asp-for="Username" />
                    <span class="text-danger" asp-validation-for="Username"></span>

                </div>

                <div class="form-group">
                    <label>Crea una contraseña (ej. Erick@123)</label>
                    <input type="password" class="form-control" asp-for="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>

                <div class="form-group">
                    <label>Confirma tu contraseña</label>
                    <input type="password" class="form-control" asp-for="PasswordConfirm" />
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        <span class="text-success">@TempData["msg"]</span>
                    </div>
                }
                <div class="form-group pt-2">
                    <button type="submit" class="btn btn-success">Registrarte</button>
                </div>
                <p>¿Ya tienes cuenta? <a href="/Autenticacion/Login">Inicia sesión.</a><p/>
            </form>
        </div>
    </div>
</div>

